<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Psychological"
        tools:targetApi="31">
        <activity android:name=".controllers.RegisterActivity" />
        <activity android:name=".controllers.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controllers.NormalUserHomeActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".controllers.CounselorHomeActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".controllers.AppointmentRecordsActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".controllers.ChatActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".controllers.EditCounselorInfoActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".controllers.CounselorDetailActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".controllers.FeedbackActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".controllers.ViewFeedbacksActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".controllers.ViewMyFeedbackActivity" android:windowSoftInputMode="adjustResize"/>

    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>